h3.for{
    text-align:center;
}

.ford{
    justify-content: flex-end;
}

.ford .btn{
    background-color:#003366;
}

.box-forum{
    background-color: #C0C0C0C0;
    width:1300px;
    height:125px;
    display: flex; /* Utilise Flexbox pour le positionnement du texte */
    /* Centre horizontalement le texte */
    align-items: center; /* Centre verticalement le texte */
    margin: 20px;
    justify-content: center;
    margin-left:120px;
}

.container-forum{
    display: flex; /* Définit le conteneur comme un conteneur flex */
    justify-content: space-between;
    gap:200px /* Espacement égal entre les éléments */
    
}

.container-forum >div{
    text-align:center;
}

p.forum{
    font-style:italic;
    font-size:11px;
}

div.mess{
    margin-right:10px;
}


.forum{
    width:100px;
    height:35px;
    margin-top:20px;

}

.forum .btn{
    background-color:#003366;
}

.button-group{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:20px 0px;
}

.button-group .btn{
    background-color: #003366;
}

.box-sujet{
    display:flex;
    margin:auto;
    width:1300px;
    height:200px;
    background-color: #C0C0C0C0;
    border:1px solid black;
}

.container-out{
    display: flex; /* Définit le conteneur comme un conteneur flex */
    justify-content: space-between;
    gap:500px;
    
}

.row2-uti{
    flex: 5; /* Permet à chaque carte de prendre une place égale */
}

.row2-date{
    flex:1;
    text-align:right;
}

h4.sujh{
    margin-left: 50px;
    margin-top:20px;
    text-align:left;
}

h5.sujh{
    margin-top: 50px;
    margin-right:10px;

}

p.sujh{
    margin-top:0;
    margin-left:20px;
}

.box-uti{
    display:flex;
    margin:auto;
    width:1300px;
    height:300px;
    background-color: #C0C0C0C0;
    border:1px solid black;

}
.formsuj{
    margin:auto;
    width:1200px;
    height:200px;
    

}

div.for{
    margin-left:auto;
    margin-left:1200px;
   
}

.for .btn{
    background-color: #003366;
}