.bg-body-tertiary{
    background-color:#003366;
    height:80px;
    font-size: medium;
    font-weight: bold;
    color:azure;
    
}

.d-flex{
    display: flex;
    margin-left: 170px;
}

.img-fluid{
    width: 450px;
    height: 350px;
    margin-left:250px;
}

h6{
    font-style: italic;
}



.flex-container {
    display: flex; /* Définit le conteneur comme un conteneur flex */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 20px; /* Ajoute un peu de padding autour du conteneur */
    
  }



  h4{
    text-align: center;
    
  }

  .align-center{
    text-align: center;;
  }

.blue{
    background-color:#003366;
    width:400px;
    height:150px;
    border: 1px solid black;
    margin-bottom:347px;
}

.jaune{
    background-color:#87CEEB;
    width:400px;
    height:150px;
    border: 1px solid black;
    margin-bottom:347px;
    margin-left:0px;
}

.grey-text{
    color:#CCCCCC;
}

.white-text{
    color:white;
}

.rouge{
    background-color: #FFCC00;
    width:400px;
    height:150px;
    border: 1px solid black;
    margin-bottom:347px;
}

.sub-box{
   
    background-color:whitesmoke;
    height:500px;
    margin-top:44px;
    border: 1px solid black;
    
}

h5.decou{
    margin-left:35px;
    font-style:italic;
    font-weight:400;
    font-size:medium
}

h4.prix{
    font-weight: bolder;
}

.abobutton{
    
    align-items: center;
    display:block;
    margin:0 auto;
    width:225px;
    font-weight: bold;
    border:black;
    padding: 3px solid black;
}

.butbl{
    background-color: #003366;
}

.butcl{
    background-color: #87CEEB;
    color:black;
}

.butjn{
    background-color: #FFCC00;
    color:black;
}

.horizantal-line{
    width:90%;
    height:2px;
    background-color: black;
    color:black;
}

h3{
    margin-left:100px;
}

.img-fluid-img2{
    width:450px;
    height:350px;
    margin-left:110px
}

.image-text-container {
    display: flex; /* Utilise Flexbox pour aligner les enfants en ligne */
    align-items: center; /* Aligne verticalement les éléments */
  }



.text-and-button {
    display: flex;
    flex-direction: column; /* Aligne le texte et le bouton verticalement */
  }
  
  .text-and-button p {
    margin: 0 0 20px; /* Supprime les marges gauche et droite et ajoute une marge en bas */
    margin-left:50px;
    margin-top:50px;
  }
  
  .butt-link {
    
    margin-left:500px;
    margin-top:200px;
    color:red;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
  }

  .bas{
    background-color: #CCCCCC;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:20px;
  }


.face{
    width:85px;
    height:85px;
    margin-left:87px
}

.bass{
    margin-left:100px;
    color:#003366;
}

.insta{
    margin-left:100px;
    width:60px;
    height:60px;
}

.twit{
    margin-left:100px;
    width:60px;
    height:60px;
    margin-bottom:10px;
}

.left-section, .right-section, .center-section{
    flex:auto;
    padding:20px;
    margin-top:50px;
}

.center_section{
    text-align:center;
    margin-top:100px;
}


  
  .left-section p, .right-section p, .center-section p {
    margin-bottom: 5px;
    font-style:italic;
  }

  .left-section h5, .right-section h5, .center-section h5{
    color:#003366;
  }