.horizantal-line{
    width:90%;
    height:2px;
    background-color: black;
    color:black;
}

.container-in{
    display: flex; /* Définit le conteneur comme un conteneur flex */
    justify-content: space-between;
   
}

.row{
    flex: 1; /* Permet à chaque carte de prendre une place égale */
    display: flex; /* Utilise Flexbox pour la ligne */
    justify-content: center; /* Centre le contenu horizontalement dans chaque ligne */
    align-items: center; /* Centre le contenu verticalement dans chaque ligne */
  }

  h5.dec{
    margin-left: 100px;
  }

  .carou{
    width:600px;
    height: 400px;
    margin-left:100px
  }

